<div class="container-fluid">
    <div class="row classmodel">
    
        <div class="col-md-4">
            <h3><em>Select your model</em></h3>
            <div class="pr-4" style="border-right-style: dashed">
            
                <div class="row d-flex justify-content-start ml-1">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal" style="background-color: #f44336">
                  normal modal
                </button>
                </div>

                <br>

                <div class="row d-flex justify-content-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: #1de9b6 ">
                  centered modal
                </button>
                </div>

                <br>

                <div class="row d-flex justify-content-center">
                <!-- Large modal -->
                <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: #66bb6a ">Large modal</button>  
                </div>

                <br>

                <div class="row d-flex justify-content-end">
                <!-- Small modal -->
                <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-sm" style="background-color: #42a5f5 ">Small modal</button>  
                </div>

                <br>

                <div class="row d-flex justify-content-start ml-5">
                <!-- Large modal -->
                <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: #66bb6a ">Large modal</button>  
                </div>

                <br>

                <div class="row d-flex justify-content-end mr-5">
                <!-- Large modal -->
                <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: #66bb6a ">Large modal</button>  
                </div>

                <br>

                <div class="row d-flex justify-content-center">
                <!-- Large modal -->
                <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color: #66bb6a ">Large modal</button>  
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <h3><em>Customize your model</em></h3>
            
            <div class="text-center">

              <div class="jumbotron-content">
                  <div class="row justify-content-md-center">
                      <div class="box">

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="height">Height</label>
                              <input type="number" class="form-control" [(ngModel)]="height" id="height">
                              {{height}}
                            </div>
                            <div class="form-group col-md-6">
                              <label for="width">Width</label>
                              <input type="number" class="form-control" [(ngModel)]="width" id="width">
                              {{width}}
                            </div>
                          </div>

                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="xaxix">Margin Top</label>
                              <input type="number" class="form-control" [(ngModel)]="margintop" id="margintop">
                                {{margintop}}
                            </div>
                            <div class="form-group col-md-6">
                              <label for="yaxix">Margin Bottom</label>
                              <input type="number" class="form-control" [(ngModel)]="marginbottom" id="marginbottom">
                               {{marginbottom}}
                            </div>
                          </div>
                          
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="xaxix">Margin Left</label>
                              <input type="number" class="form-control" [(ngModel)]="marginleft" id="marginleft">
                                {{marginleft}}
                            </div>
                            <div class="form-group col-md-6">
                              <label for="yaxix">Margin Right</label>
                              <input type="number" class="form-control" [(ngModel)]="marginright" id="marginright">
                               {{marginright}}
                            </div>
                          </div>

                          <div>
                              <button type="button" class="btn btn-lg btn-block" data-toggle="modal" data-target=".custom-modal" style="background-color: #42a5f5 ">Generate</button>
                          </div>
                          
                          <!-- Modal -->
                            <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content" [style.height]="this.height+'px'" [style.width]="this.width+'px'" [style.margintop]="this.margintop+'px'" [style.marginbottom]="this.marginbottom+'px'" [style.marginleft]="this.marginleft+'px'" [style.marginright]="this.marginright+'px'">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    ...
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                      </div>
                  </div>
              </div>
                
            </div>
        </div>
        
    </div>
</div>

<br>

<div class="container-fluid">
    
<div class="card pb-4 mb-2">
    <div class="card-body">
        <h3 class="display-6" [style.color]="this.color">Your generatred code here</h3>
        <pre class="bg-light">
        
        <code class="bg-light" [style.color]="this.color" [style.text-shadow]="this.horizontal +'px '+ this.vertical +'px '+ this.blur +'px'+ this.color" innerHTML="
            .custom-modal : {{this.height}}px {{this.width}}px {{this.margintop}}px {{this.marginbottom}}px {{this.marginleft}}px {{this.marginright}}px;
            ">
        </code>
        
        </pre>
    </div>
</div>

</div>
