

<div class="col-md-12">
        <h3 class="header"><em>Color Palette</em></h3>

        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#ffebee;height:55px;padding:15px">#ffebee red lighten-5</div>
            <div style="background-color:#ffcdd2;height:55px;padding:15px">#ffcdd2 red lighten-4</div>
            <div style="background-color:#ef9a9a;height:55px;padding:15px">#ef9a9a red lighten-3</div>
            <div style="background-color:#e57373;height:55px;padding:15px">#e57373 red lighten-2</div>
            <div style="background-color:#ef5350;height:55px;padding:15px">#ef5350 red lighten-1</div>
            <div style="background-color:#f44336;height:55px;padding:15px">#f44336 red</div>
            <div style="background-color:#e53935;height:55px;padding:15px">#e53935 red darken-1</div>
            <div style="background-color:#d32f2f;height:55px;padding:15px">#d32f2f red darken-2</div>
            <div style="background-color:#c62828;height:55px;padding:15px">#c62828 red darken-3</div>
            <div style="background-color:#b71c1c;height:55px;padding:15px">#b71c1c red darken-4</div>
            <div style="background-color:#ff8a80;height:55px;padding:15px">#ff8a80 red accent-1</div>
            <div style="background-color:#ff5252;height:55px;padding:15px">#ff5252 red accent-2</div>
            <div style="background-color:#ff1744;height:55px;padding:15px">#ff1744 red accent-3</div>
            <div style="background-color:#d50000;height:55px;padding:15px">#d50000 red accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fce4ec;height:55px;padding:15px">#fce4ec pink lighten-5</div>
            <div style="background-color:#f8bbd0;height:55px;padding:15px">#f8bbd0 pink lighten-4</div>
            <div style="background-color:#f48fb1;height:55px;padding:15px">#f48fb1 pink lighten-3</div>
            <div style="background-color:#f06292;height:55px;padding:15px">#f06292 pink lighten-2</div>
            <div style="background-color:#ec407a;height:55px;padding:15px">#ec407a pink lighten-1</div>
            <div style="background-color:#e91e63;height:55px;padding:15px">#e91e63 pink</div>
            <div style="background-color:#d81b60;height:55px;padding:15px">#d81b60 pink darken-1</div>
            <div style="background-color:#c2185b;height:55px;padding:15px">#c2185b pink darken-2</div>
            <div style="background-color:#ad1457;height:55px;padding:15px">#ad1457 pink darken-3</div>
            <div style="background-color:#880e4f;height:55px;padding:15px">#880e4f pink darken-4</div>
            <div style="background-color:#ff80ab;height:55px;padding:15px">#ff80ab pink accent-1</div>
            <div style="background-color:#ff4081;height:55px;padding:15px">#ff4081 pink accent-2</div>
            <div style="background-color:#f50057;height:55px;padding:15px">#f50057 pink accent-3</div>
            <div style="background-color:#c51162;height:55px;padding:15px">#c51162 pink accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#f3e5f5;height:55px;padding:15px">#f3e5f5 purple lighten-5</div>
            <div style="background-color:#e1bee7;height:55px;padding:15px">#e1bee7 purple lighten-4</div>
            <div style="background-color:#ce93d8;height:55px;padding:15px">#ce93d8 purple lighten-3</div>
            <div style="background-color:#ba68c8;height:55px;padding:15px">#ba68c8 purple lighten-2</div>
            <div style="background-color:#ab47bc;height:55px;padding:15px">#ab47bc purple lighten-1</div>
            <div style="background-color:#9c27b0;height:55px;padding:15px">#9c27b0 purple</div>
            <div style="background-color:#8e24aa;height:55px;padding:15px">#8e24aa purple darken-1</div>
            <div style="background-color:#7b1fa2;height:55px;padding:15px">#7b1fa2 purple darken-2</div>
            <div style="background-color:#6a1b9a;height:55px;padding:15px">#6a1b9a purple darken-3</div>
            <div style="background-color:#4a148c;height:55px;padding:15px">#4a148c purple darken-4</div>
            <div style="background-color:#ea80fc;height:55px;padding:15px">#ea80fc purple accent-1</div>
            <div style="background-color:#e040fb;height:55px;padding:15px">#e040fb purple accent-2</div>
            <div style="background-color:#d500f9;height:55px;padding:15px">#d500f9 purple accent-3</div>
            <div style="background-color:#aa00ff;height:55px;padding:15px">#aa00ff purple accent-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#ede7f6;height:55px;padding:15px">#ede7f6 deep-purple lighten-5</div>
            <div style="background-color:#d1c4e9;height:55px;padding:15px">#d1c4e9 deep-purple lighten-4</div>
            <div style="background-color:#b39ddb;height:55px;padding:15px">#b39ddb deep-purple lighten-3</div>
            <div style="background-color:#9575cd;height:55px;padding:15px">#9575cd deep-purple lighten-2</div>
            <div style="background-color:#7e57c2;height:55px;padding:15px">#7e57c2 deep-purple lighten-1</div>
            <div style="background-color:#673ab7;height:55px;padding:15px">#673ab7 deep-purple</div>
            <div style="background-color:#5e35b1;height:55px;padding:15px">#5e35b1 deep-purple darken-1</div>
            <div style="background-color:#512da8;height:55px;padding:15px">#512da8 deep-purple darken-2</div>
            <div style="background-color:#4527a0;height:55px;padding:15px">#4527a0 deep-purple darken-3</div>
            <div style="background-color:#311b92;height:55px;padding:15px">#311b92 deep-purple darken-4</div>
            <div style="background-color:#b388ff;height:55px;padding:15px">#b388ff deep-purple accent-1</div>
            <div style="background-color:#7c4dff;height:55px;padding:15px">#7c4dff deep-purple accent-2</div>
            <div style="background-color:#651fff;height:55px;padding:15px">#651fff deep-purple accent-3</div>
            <div style="background-color:#6200ea;height:55px;padding:15px">#6200ea deep-purple accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e8eaf6;height:55px;padding:15px">#e8eaf6 indigo lighten-5</div>
            <div style="background-color:#c5cae9;height:55px;padding:15px">#c5cae9 indigo lighten-4</div>
            <div style="background-color:#9fa8da;height:55px;padding:15px">#9fa8da indigo lighten-3</div>
            <div style="background-color:#7986cb;height:55px;padding:15px">#7986cb indigo lighten-2</div>
            <div style="background-color:#5c6bc0;height:55px;padding:15px">#5c6bc0 indigo lighten-1</div>
            <div style="background-color:#3f51b5;height:55px;padding:15px">#3f51b5 indigo</div>
            <div style="background-color:#3949ab;height:55px;padding:15px">#3949ab indigo darken-1</div>
            <div style="background-color:#303f9f;height:55px;padding:15px">#303f9f indigo darken-2</div>
            <div style="background-color:#283593;height:55px;padding:15px">#283593 indigo darken-3</div>
            <div style="background-color:#1a237e;height:55px;padding:15px">#1a237e indigo darken-4</div>
            <div style="background-color:#8c9eff;height:55px;padding:15px">#8c9eff indigo accent-1</div>
            <div style="background-color:#536dfe;height:55px;padding:15px">#536dfe indigo accent-2</div>
            <div style="background-color:#3d5afe;height:55px;padding:15px">#3d5afe indigo accent-3</div>
            <div style="background-color:#304ffe;height:55px;padding:15px">#304ffe indigo accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e3f2fd;height:55px;padding:15px">#e3f2fd blue lighten-5</div>
            <div style="background-color:#bbdefb;height:55px;padding:15px">#bbdefb blue lighten-4</div>
            <div style="background-color:#90caf9;height:55px;padding:15px">#90caf9 blue lighten-3</div>
            <div style="background-color:#64b5f6;height:55px;padding:15px">#64b5f6 blue lighten-2</div>
            <div style="background-color:#42a5f5;height:55px;padding:15px">#42a5f5 blue lighten-1</div>
            <div style="background-color:#2196f3;height:55px;padding:15px">#2196f3 blue</div>
            <div style="background-color:#1e88e5;height:55px;padding:15px">#1e88e5 blue darken-1</div>
            <div style="background-color:#1976d2;height:55px;padding:15px">#1976d2 blue darken-2</div>
            <div style="background-color:#1565c0;height:55px;padding:15px">#1565c0 blue darken-3</div>
            <div style="background-color:#0d47a1;height:55px;padding:15px">#0d47a1 blue darken-4</div>
            <div style="background-color:#82b1ff;height:55px;padding:15px">#82b1ff blue accent-1</div>
            <div style="background-color:#448aff;height:55px;padding:15px">#448aff blue accent-2</div>
            <div style="background-color:#2979ff;height:55px;padding:15px">#2979ff blue accent-3</div>
            <div style="background-color:#2962ff;height:55px;padding:15px">#2962ff blue accent-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e1f5fe;height:55px;padding:15px">#e1f5fe light-blue lighten-5</div>
            <div style="background-color:#b3e5fc;height:55px;padding:15px">#b3e5fc light-blue lighten-4</div>
            <div style="background-color:#81d4fa;height:55px;padding:15px">#81d4fa light-blue lighten-3</div>
            <div style="background-color:#4fc3f7;height:55px;padding:15px">#4fc3f7 light-blue lighten-2</div>
            <div style="background-color:#29b6f6;height:55px;padding:15px">#29b6f6 light-blue lighten-1</div>
            <div style="background-color:#03a9f4;height:55px;padding:15px">#03a9f4 light-blue</div>
            <div style="background-color:#039be5;height:55px;padding:15px">#039be5 light-blue darken-1</div>
            <div style="background-color:#0288d1;height:55px;padding:15px">#0288d1 light-blue darken-2</div>
            <div style="background-color:#0277bd;height:55px;padding:15px">#0277bd light-blue darken-3</div>
            <div style="background-color:#01579b;height:55px;padding:15px">#01579b light-blue darken-4</div>
            <div style="background-color:#80d8ff;height:55px;padding:15px">#80d8ff light-blue accent-1</div>
            <div style="background-color:#40c4ff;height:55px;padding:15px">#40c4ff light-blue accent-2</div>
            <div style="background-color:#00b0ff;height:55px;padding:15px">#00b0ff light-blue accent-3</div>
            <div style="background-color:#0091ea;height:55px;padding:15px">#0091ea light-blue accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e0f7fa;height:55px;padding:15px">#e0f7fa cyan lighten-5</div>
            <div style="background-color:#b2ebf2;height:55px;padding:15px">#b2ebf2 cyan lighten-4</div>
            <div style="background-color:#80deea;height:55px;padding:15px">#80deea cyan lighten-3</div>
            <div style="background-color:#4dd0e1;height:55px;padding:15px">#4dd0e1 cyan lighten-2</div>
            <div style="background-color:#26c6da;height:55px;padding:15px">#26c6da cyan lighten-1</div>
            <div style="background-color:#00bcd4;height:55px;padding:15px">#00bcd4 cyan</div>
            <div style="background-color:#00acc1;height:55px;padding:15px">#00acc1 cyan darken-1</div>
            <div style="background-color:#0097a7;height:55px;padding:15px">#0097a7 cyan darken-2</div>
            <div style="background-color:#00838f;height:55px;padding:15px">#00838f cyan darken-3</div>
            <div style="background-color:#006064;height:55px;padding:15px">#006064 cyan darken-4</div>
            <div style="background-color:#84ffff;height:55px;padding:15px">#84ffff cyan accent-1</div>
            <div style="background-color:#18ffff;height:55px;padding:15px">#18ffff cyan accent-2</div>
            <div style="background-color:#00e5ff;height:55px;padding:15px">#00e5ff cyan accent-3</div>
            <div style="background-color:#00b8d4;height:55px;padding:15px">#00b8d4 cyan accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e0f2f1;height:55px;padding:15px">#e0f2f1 teal lighten-5</div>
            <div style="background-color:#b2dfdb;height:55px;padding:15px">#b2dfdb teal lighten-4</div>
            <div style="background-color:#80cbc4;height:55px;padding:15px">#80cbc4 teal lighten-3</div>
            <div style="background-color:#4db6ac;height:55px;padding:15px">#4db6ac teal lighten-2</div>
            <div style="background-color:#26a69a;height:55px;padding:15px">#26a69a teal lighten-1</div>
            <div style="background-color:#009688;height:55px;padding:15px">#009688 teal</div>
            <div style="background-color:#00897b;height:55px;padding:15px">#00897b teal darken-1</div>
            <div style="background-color:#00796b;height:55px;padding:15px">#00796b teal darken-2</div>
            <div style="background-color:#00695c;height:55px;padding:15px">#00695c teal darken-3</div>
            <div style="background-color:#004d40;height:55px;padding:15px">#004d40 teal darken-4</div>
            <div style="background-color:#a7ffeb;height:55px;padding:15px">#a7ffeb teal accent-1</div>
            <div style="background-color:#64ffda;height:55px;padding:15px">#64ffda teal accent-2</div>
            <div style="background-color:#1de9b6;height:55px;padding:15px">#1de9b6 teal accent-3</div>
            <div style="background-color:#00bfa5;height:55px;padding:15px">#00bfa5 teal accent-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#e8f5e9;height:55px;padding:15px">#e8f5e9 green lighten-5</div>
            <div style="background-color:#c8e6c9;height:55px;padding:15px">#c8e6c9 green lighten-4</div>
            <div style="background-color:#a5d6a7;height:55px;padding:15px">#a5d6a7 green lighten-3</div>
            <div style="background-color:#81c784;height:55px;padding:15px">#81c784 green lighten-2</div>
            <div style="background-color:#66bb6a;height:55px;padding:15px">#66bb6a green lighten-1</div>
            <div style="background-color:#4caf50;height:55px;padding:15px">#4caf50 green</div>
            <div style="background-color:#43a047;height:55px;padding:15px">#43a047 green darken-1</div>
            <div style="background-color:#388e3c;height:55px;padding:15px">#388e3c green darken-2</div>
            <div style="background-color:#2e7d32;height:55px;padding:15px">#2e7d32 green darken-3</div>
            <div style="background-color:#1b5e20;height:55px;padding:15px">#1b5e20 green darken-4</div>
            <div style="background-color:#b9f6ca;height:55px;padding:15px">#b9f6ca green accent-1</div>
            <div style="background-color:#69f0ae;height:55px;padding:15px">#69f0ae green accent-2</div>
            <div style="background-color:#00e676;height:55px;padding:15px">#00e676 green accent-3</div>
            <div style="background-color:#00c853;height:55px;padding:15px">#00c853 green accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#f1f8e9;height:55px;padding:15px">#f1f8e9 light-green lighten-5</div>
            <div style="background-color:#dcedc8;height:55px;padding:15px">#dcedc8 light-green lighten-4</div>
            <div style="background-color:#c5e1a5;height:55px;padding:15px">#c5e1a5 light-green lighten-3</div>
            <div style="background-color:#aed581;height:55px;padding:15px">#aed581 light-green lighten-2</div>
            <div style="background-color:#9ccc65;height:55px;padding:15px">#9ccc65 light-green lighten-1</div>
            <div style="background-color:#8bc34a;height:55px;padding:15px">#8bc34a light-green</div>
            <div style="background-color:#7cb342;height:55px;padding:15px">#7cb342 light-green darken-1</div>
            <div style="background-color:#689f38;height:55px;padding:15px">#689f38 light-green darken-2</div>
            <div style="background-color:#558b2f;height:55px;padding:15px">#558b2f light-green darken-3</div>
            <div style="background-color:#33691e;height:55px;padding:15px">#33691e light-green darken-4</div>
            <div style="background-color:#ccff90;height:55px;padding:15px">#ccff90 light-green accent-1</div>
            <div style="background-color:#b2ff59;height:55px;padding:15px">#b2ff59 light-green accent-2</div>
            <div style="background-color:#76ff03;height:55px;padding:15px">#76ff03 light-green accent-3</div>
            <div style="background-color:#64dd17;height:55px;padding:15px">#64dd17 light-green accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#f9fbe7;height:55px;padding:15px">#f9fbe7 lime lighten-5</div>
            <div style="background-color:#f0f4c3;height:55px;padding:15px">#f0f4c3 lime lighten-4</div>
            <div style="background-color:#e6ee9c;height:55px;padding:15px">#e6ee9c lime lighten-3</div>
            <div style="background-color:#dce775;height:55px;padding:15px">#dce775 lime lighten-2</div>
            <div style="background-color:#d4e157;height:55px;padding:15px">#d4e157 lime lighten-1</div>
            <div style="background-color:#cddc39;height:55px;padding:15px">#cddc39 lime</div>
            <div style="background-color:#c0ca33;height:55px;padding:15px">#c0ca33 lime darken-1</div>
            <div style="background-color:#afb42b;height:55px;padding:15px">#afb42b lime darken-2</div>
            <div style="background-color:#9e9d24;height:55px;padding:15px">#9e9d24 lime darken-3</div>
            <div style="background-color:#827717;height:55px;padding:15px">#827717 lime darken-4</div>
            <div style="background-color:#f4ff81;height:55px;padding:15px">#f4ff81 lime accent-1</div>
            <div style="background-color:#eeff41;height:55px;padding:15px">#eeff41 lime accent-2</div>
            <div style="background-color:#c6ff00;height:55px;padding:15px">#c6ff00 lime accent-3</div>
            <div style="background-color:#aeea00;height:55px;padding:15px">#aeea00 lime accent-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fffde7;height:55px;padding:15px">#fffde7 yellow lighten-5</div>
            <div style="background-color:#fff9c4;height:55px;padding:15px">#fff9c4 yellow lighten-4</div>
            <div style="background-color:#fff59d;height:55px;padding:15px">#fff59d yellow lighten-3</div>
            <div style="background-color:#fff176;height:55px;padding:15px">#fff176 yellow lighten-2</div>
            <div style="background-color:#ffee58;height:55px;padding:15px">#ffee58 yellow lighten-1</div>
            <div style="background-color:#ffeb3b;height:55px;padding:15px">#ffeb3b yellow</div>
            <div style="background-color:#fdd835;height:55px;padding:15px">#fdd835 yellow darken-1</div>
            <div style="background-color:#fbc02d;height:55px;padding:15px">#fbc02d yellow darken-2</div>
            <div style="background-color:#f9a825;height:55px;padding:15px">#f9a825 yellow darken-3</div>
            <div style="background-color:#f57f17;height:55px;padding:15px">#f57f17 yellow darken-4</div>
            <div style="background-color:#ffff8d;height:55px;padding:15px">#ffff8d yellow accent-1</div>
            <div style="background-color:#ffff00;height:55px;padding:15px">#ffff00 yellow accent-2</div>
            <div style="background-color:#ffea00;height:55px;padding:15px">#ffea00 yellow accent-3</div>
            <div style="background-color:#ffd600;height:55px;padding:15px">#ffd600 yellow accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fff8e1;height:55px;padding:15px">#fff8e1 amber lighten-5</div>
            <div style="background-color:#ffecb3;height:55px;padding:15px">#ffecb3 amber lighten-4</div>
            <div style="background-color:#ffe082;height:55px;padding:15px">#ffe082 amber lighten-3</div>
            <div style="background-color:#ffd54f;height:55px;padding:15px">#ffd54f amber lighten-2</div>
            <div style="background-color:#ffca28;height:55px;padding:15px">#ffca28 amber lighten-1</div>
            <div style="background-color:#ffc107;height:55px;padding:15px">#ffc107 amber</div>
            <div style="background-color:#ffb300;height:55px;padding:15px">#ffb300 amber darken-1</div>
            <div style="background-color:#ffa000;height:55px;padding:15px">#ffa000 amber darken-2</div>
            <div style="background-color:#ff8f00;height:55px;padding:15px">#ff8f00 amber darken-3</div>
            <div style="background-color:#ff6f00;height:55px;padding:15px">#ff6f00 amber darken-4</div>
            <div style="background-color:#ffe57f;height:55px;padding:15px">#ffe57f amber accent-1</div>
            <div style="background-color:#ffd740;height:55px;padding:15px">#ffd740 amber accent-2</div>
            <div style="background-color:#ffc400;height:55px;padding:15px">#ffc400 amber accent-3</div>
            <div style="background-color:#ffab00;height:55px;padding:15px">#ffab00 amber accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fff3e0;height:55px;padding:15px">#fff3e0 orange lighten-5</div>
            <div style="background-color:#ffe0b2;height:55px;padding:15px">#ffe0b2 orange lighten-4</div>
            <div style="background-color:#ffcc80;height:55px;padding:15px">#ffcc80 orange lighten-3</div>
            <div style="background-color:#ffb74d;height:55px;padding:15px">#ffb74d orange lighten-2</div>
            <div style="background-color:#ffa726;height:55px;padding:15px">#ffa726 orange lighten-1</div>
            <div style="background-color:#ff9800;height:55px;padding:15px">#ff9800 orange</div>
            <div style="background-color:#fb8c00;height:55px;padding:15px">#fb8c00 orange darken-1</div>
            <div style="background-color:#f57c00;height:55px;padding:15px">#f57c00 orange darken-2</div>
            <div style="background-color:#ef6c00;height:55px;padding:15px">#ef6c00 orange darken-3</div>
            <div style="background-color:#e65100;height:55px;padding:15px">#e65100 orange darken-4</div>
            <div style="background-color:#ffd180;height:55px;padding:15px">#ffd180 orange accent-1</div>
            <div style="background-color:#ffab40;height:55px;padding:15px">#ffab40 orange accent-2</div>
            <div style="background-color:#ff9100;height:55px;padding:15px">#ff9100 orange accent-3</div>
            <div style="background-color:#ff6d00;height:55px;padding:15px">#ff6d00 orange accent-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fbe9e7;height:55px;padding:15px">#fbe9e7 deep-orange lighten-5</div>
            <div style="background-color:#ffccbc;height:55px;padding:15px">#ffccbc deep-orange lighten-4</div>
            <div style="background-color:#ffab91;height:55px;padding:15px">#ffab91 deep-orange lighten-3</div>
            <div style="background-color:#ff8a65;height:55px;padding:15px">#ff8a65 deep-orange lighten-2</div>
            <div style="background-color:#ff7043;height:55px;padding:15px">#ff7043 deep-orange lighten-1</div>
            <div style="background-color:#ff5722;height:55px;padding:15px">#ff5722 deep-orange</div>
            <div style="background-color:#f4511e;height:55px;padding:15px">#f4511e deep-orange darken-1</div>
            <div style="background-color:#e64a19;height:55px;padding:15px">#e64a19 deep-orange darken-2</div>
            <div style="background-color:#d84315;height:55px;padding:15px">#d84315 deep-orange darken-3</div>
            <div style="background-color:#bf360c;height:55px;padding:15px">#bf360c deep-orange darken-4</div>
            <div style="background-color:#ff9e80;height:55px;padding:15px">#ff9e80 deep-orange accent-1</div>
            <div style="background-color:#ff6e40;height:55px;padding:15px">#ff6e40 deep-orange accent-2</div>
            <div style="background-color:#ff3d00;height:55px;padding:15px">#ff3d00 deep-orange accent-3</div>
            <div style="background-color:#dd2c00;height:55px;padding:15px">#dd2c00 deep-orange accent-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#efebe9;height:55px;padding:15px">#efebe9 brown lighten-5</div>
            <div style="background-color:#d7ccc8;height:55px;padding:15px">#d7ccc8 brown lighten-4</div>
            <div style="background-color:#bcaaa4;height:55px;padding:15px">#bcaaa4 brown lighten-3</div>
            <div style="background-color:#a1887f;height:55px;padding:15px">#a1887f brown lighten-2</div>
            <div style="background-color:#8d6e63;height:55px;padding:15px">#8d6e63 brown lighten-1</div>
            <div style="background-color:#795548;height:55px;padding:15px">#795548 brown</div>
            <div style="background-color:#6d4c41;height:55px;padding:15px">#6d4c41 brown darken-1</div>
            <div style="background-color:#5d4037;height:55px;padding:15px">#5d4037 brown darken-2</div>
            <div style="background-color:#4e342e;height:55px;padding:15px">#4e342e brown darken-3</div>
            <div style="background-color:#3e2723;height:55px;padding:15px">#3e2723 brown darken-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#fafafa;height:55px;padding:15px">#fafafa grey lighten-5</div>
            <div style="background-color:#f5f5f5;height:55px;padding:15px">#f5f5f5 grey lighten-4</div>
            <div style="background-color:#eeeeee;height:55px;padding:15px">#eeeeee grey lighten-3</div>
            <div style="background-color:#e0e0e0;height:55px;padding:15px">#e0e0e0 grey lighten-2</div>
            <div style="background-color:#bdbdbd;height:55px;padding:15px">#bdbdbd grey lighten-1</div>
            <div style="background-color:#9e9e9e;height:55px;padding:15px">#9e9e9e grey</div>
            <div style="background-color:#757575;height:55px;padding:15px">#757575 grey darken-1</div>
            <div style="background-color:#616161;height:55px;padding:15px">#616161 grey darken-2</div>
            <div style="background-color:#424242;height:55px;padding:15px">#424242 grey darken-3</div>
            <div style="background-color:#212121;height:55px;padding:15px">#212121 grey darken-4</div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#eceff1;height:55px;padding:15px">#eceff1 blue-grey lighten-5</div>
            <div style="background-color:#cfd8dc;height:55px;padding:15px">#cfd8dc blue-grey lighten-4</div>
            <div style="background-color:#b0bec5;height:55px;padding:15px">#b0bec5 blue-grey lighten-3</div>
            <div style="background-color:#90a4ae;height:55px;padding:15px">#90a4ae blue-grey lighten-2</div>
            <div style="background-color:#78909c;height:55px;padding:15px">#78909c blue-grey lighten-1</div>
            <div style="background-color:#607d8b;height:55px;padding:15px">#607d8b blue-grey</div>
            <div style="background-color:#546e7a;height:55px;padding:15px">#546e7a blue-grey darken-1</div>
            <div style="background-color:#455a64;height:55px;padding:15px">#455a64 blue-grey darken-2</div>
            <div style="background-color:#37474f;height:55px;padding:15px">#37474f blue-grey darken-3</div>
            <div style="background-color:#263238;height:55px;padding:15px">#263238 blue-grey darken-4</div>
          </div>
          <div class="col s12 m6 l4 text-center">
            <div style="background-color:#000000;height:55px;padding:15px">#000000 black</div>
            <div style="background-color:#ffffff;height:55px;padding:15px">#ffffff white</div>
            <div style="background-color:transparent;height:55px;padding:15px">N/A transparent</div>
          </div>
        </div>
    
</div>

